@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 99%;
    --foreground: 215 25% 3.9%;
    --card: 210 40% 98%;
    --card-foreground: 215 25% 3.9%;
    --popover: 210 40% 98%;
    --popover-foreground: 215 25% 3.9%;
    --primary: 215 25% 9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 96.1%;
    --secondary-foreground: 215 25% 9%;
    --muted: 210 20% 96.1%;
    --muted-foreground: 215 20% 45.1%;
    --accent: 210 20% 96.1%;
    --accent-foreground: 215 25% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 15% 89.8%;
    --input: 215 15% 89.8%;
    --ring: 214.26 100% 77.25%;
    --focus: 215 25% 2.9%;
    --radius: 0;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --map-background: 215 32% 100%;
  }

  .dark {
    --background: 215 28% 6%;
    --foreground: 210 40% 98%;
    --card: 215 28% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 215 25% 9%;
    --secondary: 215 25% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 25% 18%;
    --muted-foreground: 215 20% 70%;
    --accent: 215 25% 18%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 100%;
    --border: 215 25% 18%;
    --input: 215 25% 18%;
    --ring: 214.26 100% 77.25%;
    --focus: 297 100% 93%;
    --chart-1: 220 70% 55%;
    --chart-2: 160 60% 50%;
    --chart-3: 30 80% 60%;
    --chart-4: 280 65% 65%;
    --chart-5: 340 75% 60%;
    --map-background: 215 32% 10.69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "ComicCodeThin Nerd Font", "FiraCode Nerd Font", Menlo, Monaco,
      "Courier New", monospace;
  }
}

.tile {
  @apply border border-border hover:border-gray-400 dark:hover:border-gray-600 hover:border-2 bg-cover bg-center;
}

.map-background {
  background-color: hsl(var(--map-background));
}